@*@model IEnumerable<Zero_Hunger.EF.Request>
*@

@model IEnumerable<Zero_Hunger.DTOs.RequestDTO>

@{
    ViewBag.Title = "Show_all_donation";
}

<h2>Show_all_donation</h2>

<p class="btn btn-secondary">
    @Html.ActionLink("Back", "Dashboard")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.req_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.food_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.max_preservation_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rest_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.assigned_employee_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.details_food)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_of_order)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.req_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.food_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.max_preservation_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rest_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.assigned_employee_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.details_food)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_of_order)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
